@model IEnumerable<Translations.Models.Tags>

@{
	ViewBag.Title = "Tags";
}

<h2>List Of Tags</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="transTable paginated">
	<thead>
		<tr>
			<th>Key</th>
			<th>Description</th>
			<th>Active</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
  {
			<tr>
				<td>@Html.DisplayFor(modelItem => item.TagKey)</td>
				<td>@Html.DisplayFor(modelItem => item.TagText)</td>
				<td>
					@if (item.IsActive)
					{
						@:<i class='fa fa-check fa-2'></i>
					}
				</td>
				<td>@Html.ActionLink("Edit", "Edit", new { id = item.TagKey }, new { @class = "editRow" })</td>
			</tr>
  }
	</tbody>
</table>
